@charset "utf-8";
/* CSS Document */

@import url(//fonts.googleapis.com/css?family=Prociono);

/*** Basic layout and text defaults ***/
body {
  margin: 0 !important;
  font-family: 'Prociono', sans-serif !important;
  background-color: #000 !important;
  font-size: 16px;
}

p {
  font-family: "Incised 901 W01 Light";
  color: #fff;
}

h1, .h1 {
  font-family: "Incised 901 W01 Bold" !important;
  font-size: 2.25em;
  color: #fff !important;
}

h2, .h2 {
  font-family: "Incised 901 W01 Bold Cd" !important;
  font-size: 2.00em;
  color: #fff !important;
}
h3, .h3,
h4, .h4 {
  font-family: "Incised901 BT" !important;
  font-size: 1.75em;
  color: #fff !important;
}

.vrt-ctr-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/*** Font Styles ***/
.prociono {
  font-family: 'Prociono' !important;
}

.rmheader {
  font-family: "Incised901W01-NordItali" !important;
  color: #000 !important;
  text-shadow: -1px -1px 0 #fff,  1px -1px 0 #fff,  -1px 1px 0 #fff,  1px 1px 0 #fff !important;
}


/*** Color Styles ***/
.rmgold {
  color: #F3BB18 !important;
}


/*** Page header styles ***/
header {
  height: 332px;
}
header .vrt-ctr-parent {
  height: 100%;
}

header .prociono {
  font-size: 
}

header .rmheader {
  font-size: 
}


/*** Form styles ***/
form, label {
  color: #fff !important;
  font-family: 'Incised 901 W01 Light' !important;
  font-weight: inherit;
}

input {
  color: #000 !important;
  font-family: 'Incised 901 W01 Light' !important;
  height: 33px;
}

input:not(.button) {
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}


.button {
  background-color: #F3BB18 !important;
  color: #000 !important;
  font-family: "Incised 901 W01 Bold Cd" !important;
  padding-left: 1em;
  padding-right: 1em;
}


/*** Tab nav styles ***/
.nav-tabs {
  border-bottom: none;
}

.nav-tabs > li {
  font-family: "Incised 901 W01 Bold Cd";
  font-size: 30px;
  background-color: transparent;
  text-align: center;
  margin-bottom: -2px;
  width: 238px;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  color: #fff;
  background-color: transparent;  
  border: none;
}

.nav-tabs > li.active {
  background-color: #000;
}

.nav-tabs > li:hover,
.nav-tabs > li.active,
.nav-tabs > li.active:hover {
  -webkit-box-shadow: 0px -2px 5px 0px rgba(252,252,252,0.705);
  -moz-box-shadow: 0px -2px 5px 0px rgba(252,252,252,0.705);
  box-shadow: 0px -2px 5px 0px rgba(252,252,252,0.705);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #F3BB18;
  background-color: #000;
  border: none;
}

.tab-content {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(252,252,252,0.705);
  -moz-box-shadow: 0px 0px 15px 0px rgba(252,252,252,0.705);
  box-shadow: 0px 0px 15px 0px rgba(252,252,252,0.705);
}

.tab-pane {
  padding: 1em;
}

