@charset "utf-8";
/* CSS Document */

@import url(//fonts.googleapis.com/css?family=Prociono);

/*** Basic layout and text defaults ***/
body {
  margin: 0 !important;
  font-family: 'Prociono', sans-serif !important;
  background-color: #000 !important;
}

p {
  font-family: "Incised 901 W01 Light";
  color: #fff;
}

.rmheader {
  font-family: "Incised901W01-NordItali" !important;
  color: #000 !important;
  text-shadow: -1px -1px 0 #fff,  1px -1px 0 #fff,  -1px 1px 0 #fff,  1px 1px 0 #fff !important;
}

h1 {
  font-family: "Incised 901 W01 Bold" !important;
  color: #fff !important;
}

h2 {
  font-family: "Incised 901 W01 Bold Cd" !important;
  color: #fff !important;
}
h3, h4 {
  font-family: "Incised901 BT" !important;
  color: #fff !important;
}

/*** Font Styles ***/
.prociono {
  font-family: 'Prociono' !important;
}

/*** Color Styles ***/
.rmgold {
  color: #F3BB18 !important;
}


/*** Form styles ***/
form, label {
  font-family: 'Incised 901 W01 Light' !important;
  color: #fff !important;
}

input {
  font-family: 'Incised 901 W01 Light' !important;
  color: #000 !important;
}

.button {
  background-color: #F3BB18 !important;
  color: #000 !important;
  font-family: "Incised 901 W01 Light" !important;
}

/*** Tab nav styles ***/
.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li {
    font-family: "Incised901 Ct BT";
    font-size: 30px;
    background-color: transparent;
    text-align: center;
    width: 238px;
}

.nav-tabs > li > a {
    color: #fff;
}

.nav-tabs > li.active {
    background-color: #000;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(252,252,252,0.705);
    -moz-box-shadow: 0px -2px 5px 0px rgba(252,252,252,0.705);
    box-shadow: 0px -2px 5px 0px rgba(252,252,252,0.705);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #F3BB18;
    border: none;
}

.tab-content {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(252,252,252,0.705);
    -moz-box-shadow: 0px 0px 15px 0px rgba(252,252,252,0.705);
    box-shadow: 0px 0px 15px 0px rgba(252,252,252,0.705);
}

.tab-pane {
    padding: 1em;
}

